.download {
  background-color: white;
}
h4.heading {
  font-size: 40px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 200;
  margin-bottom: 20px;
  padding-top: 5px;
  color: black;
}

p.heading.p__color {
  margin-bottom: 0;
  text-align: center;
  line-height: 1.2;
}
.service__box {
  border-radius: 10px;
  width: 100%;

  border: 2px;
  padding: 55px;
  transition: 0.4s ease;
}

.service__box:hover {
  transform: translateY(5px);
}
.service__box:hover .icon {
  color: #fff;
}

.service__box:hover p.service__text.p__color {
  color: #fff !important;
}

.icon {
  margin-bottom: 23px;
  display: inline-flex;
  width: 100%;
}
p.service__text.p__color {
  margin-bottom: 0;
}
h1.service__text {
  font-size: 19px;
  font-family: Poppins, sans-serif;
  padding: 10px 0px;
  color: black;
}

@media only screen and (max-width: 1024px) {
  .service__box {
    padding: 32px;
  }
}
